[Unit]
Description=Servicio de saludo infinito
After=network.target

[Service]
ExecStart=/usr/local/bin/hello.sh
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=saludo-script

[Install]
WantedBy=multi-user.target
